body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


/*encabezado*/
h1 {
    color: white;
    margin: 0;
    padding: 10px;
}
.encabezado-fijo {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.encabezado-fijo nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; /* Ajusta la altura del encabezado según tus necesidades */
}

.encabezado-fijo nav ul li {
    margin: 0;
    padding: 0;
}

.encabezado-fijo nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}



/*inicio */
#inicio {
    margin-top: 125px; 
}

.inicio-sub1{
    color: black;
    text-align: center;
}

.inicio-sub{
    color: black;
    line-height: 1.5;
    
}

.inicio-imagenes {
    display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

.imagen-con-texto {
    text-align: center;
    margin: 0 20px; /* Espacio entre las imágenes con texto */
}

.imagen-con-texto img {
    width: 300px; /* Ancho deseado */
    height: 200px; /* Alto deseado */
    border: 2px solid black; /* Agrega un borde a las imágenes */
    transition: transform 0.2s ease-in-out; /* Agrega una transición suave al hacer hover */
}



/*servicios */
#servicios {
    background-color: #f9f9f9; /* Fondo gris claro */
    padding: 40px 0;
    text-align: center;
}

.menu-title {
    font-size: 24px;
    color: #333; 
    margin-bottom: 30px;
}

.menu-item {
    background-color: white;
    border: 1px solid #ddd; /* Borde ligero */
    border-radius: 5px; /* Bordes redondeados */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: left;
}

.menu-item h3 {
    font-size: 20px;
    color: #555; 
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    color: #777; 
}

.menu-item:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligeramente más pronunciada al pasar el mouse */
    transform: translateY(-2px); /* Efecto de levantamiento al pasar el mouse */
}

/**/
.imagenes_sub2{
    background-color: #f9f9f9; /* Fondo gris claro */
    padding: 40px 0;
    text-align: center;
    display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

/* Estilos para los enlaces del menú */
.encabezado-fijo nav ul li a:hover {
    color: #ffffff;
}



/* Estilos para la sección de galería */

.galeria_sub1{
    text-align: center;
    
}

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el ancho de las columnas según necesidades */
    grid-gap: 20px; /* Espacio entre las imágenes */
    text-align: center; 
}

#galeria img {
    max-width: 100%;
    height: auto;
    border: 2px solid black; /* Agrega un borde a las imágenes */
    transition: transform 0.2s ease-in-out; /* Agrega una transición suave al hacer hover */
}

#galeria img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}



/* Información de Contacto */
.contacto-info {
    background-color: #f9f9f9; /* Fondo gris claro */
    padding: 40px 0;
    text-align: center;
}

.lista-contacto {
    list-style: none;
    padding: 0;
}

.lista-contacto li {
    font-size: 16px;
    margin-bottom: 10px;
}

.lista-contacto i {
    margin-right: 10px;
    font-size: 18px;
    color: #007bff; /* Color azul para los íconos */
}

.lista-contacto a {
    text-decoration: none;
    color: #007bff; /* Color azul para los enlaces a redes sociales */
}

.lista-contacto a:hover {
    text-decoration: underline;
}



/* Estilos para el formulario de contacto */
.formulario-contacto {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.formulario-contacto h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario-contacto label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario-contacto input[type="text"],
.formulario-contacto input[type="email"],
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.formulario-contacto textarea {
    height: 150px;
}

.formulario-contacto input[type="file"] {
    display: none;
}

.formulario-contacto .adjuntar-label {
    display: block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contacto .adjuntar-label input[type="file"] {
    display: none;
}

.formulario-contacto .enviar-btn,
.formulario-contacto .cancelar-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.formulario-contacto .cancelar-btn {
    background-color: #ccc;
    margin-left: 10px;
}


/* Estilos para el pie de página */
.pie-de-pagina {
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0; /* Ajusta el espaciado según tus preferencias */
    margin-top: 20px; /* Ajusta la separación del pie de página desde la parte inferior del contenido */
    z-index: 2000; 
}
